@import url(styles-colors.css);

h1, h2, h3, h4, label {
    font-family: 'Montserrat', sans-serif;
}
h4 {
    margin-bottom: 1em;
}
.script {
    font-family: 'Pacifico', serif;
}

a, p, li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 200%;
}

.subtext {
    line-height: normal;
    color: var(--neutral3);
    padding-bottom: 1em;
}

.italicize {
    font-style: italic;
}

.strong {
    font-weight: bold;
}