:root {
    --accent-color: #FAFF94;
    --main-color1: #60E6F6;
    --main-color2: #638FB9;
    --main-color3: #76AFEE;
    --main-color4: #081A46;
    --neutral1: #FFF;
    --neutral2: #000;
    --neutral3: #4F4F4F;
    --neutral4: #9E9E9E;
}

header {
    height: 80px;
    background-color: var(--main-color4);
    position: absolute;
}