@import url(styles-colors.css);

main {
    min-height: 100vh;
    position: relative;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    z-index: 100;
}

/* Header Styles */
header {
    position: sticky;
    height: 80px;
    width: 100%;
    background-color: var(--main-color4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 2em;
    top: 0;
}

header a img {
    height: 65.84px;
    width: 117.1px;
    vertical-align: middle;
}

/* Navbar Styles */
#nav-bar li{
    display: inline-flex;
    padding: 0 2em;
    color: var(--neutral1);
    font-weight: bold;
    position: relative;
    align-items: center;
    justify-content: center;
}

#nav-highlight {
    color: var(--accent-color);
}

#nav-highlight::before, #nav-highlight::after {
    content: "|";
    position: absolute;
    font-weight: bold;
    color: var(--accent-color);
    opacity: 0.5;
}

#nav-highlight::before {
    right: 80%;
}

#nav-highlight::after {
    left: 80%;
}

/* Footer Styles */

.end-of-page {
    text-align: center;
    color: var(--neutral4);
    font-weight: normal;
}

footer {
    position: relative;
    height: 403px;
    background-color: var(--main-color4);
    padding: 3em 8em;
}
#footer-site img {
    width: 225px;
    height: 126.5px;
}
#footer-details {
    display: grid;
    width: 100%;
    column-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    color: var(--neutral1);
    align-items: center;   
    justify-content: space-between;
    vertical-align: middle;
}

#footer-site, #footer-resources, #footer-get-to-know {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

#footer-logo {
    height: 126.5px;
    width: 225px;
}

.footer-htext {
    color: var(--accent-color);
}

#footer-icons {
    display: flex;
}

.footer-icon-bg {
    display: inline-flex;
    margin-left: 0.5em;
    background-color: var(--accent-color);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.footer-icon-bg img {
    vertical-align: middle;
}

/* List Styles & Pseudoclasses*/
.list-sideline {
    width: 6px;
    height: 100%;
    padding-right: 0.1em;
    background-color: var(--accent-color);
    border-radius: 6px;
}

.crescove-list {
    display: grid;
    grid-template-columns: 20px auto;
    text-align: left;
}
.list li a {
    transition: color 0.1 ease-in-out 0ms;
}

.list li a:visited{
    color: inherit;
}

.list li a:hover {
    color: var(--accent-color);
    transition: transform 0.1 ease-in-out 0ms;
}

/* Form Styles */
label {
    display: block;
    padding: 1em 0 0.5em;
    font-weight: bold;
}

.field-input {
    width: 100%;
    height: 3em;    
    box-shadow: inset 0 0 7px 2px var(--shadow);
    border: none;
    border-radius: 50px;
    padding-left: 2em;
    font-size: 1em;
}

input[type="submit"], .button1, .button2 {
    width: auto;
    height: 49px;
    color: var(--neutral3);
    font-size: 1.25em;
    border-radius: 50px;
    box-shadow: 0 4px 4px var(--shadow);
    margin: 0 0.5em;
    display: flex;
    padding: 0 2em;
    align-items: center;
    justify-content: center;
}

textarea {
    padding: 1em 2em;
    min-height: 7em;
    resize: vertical;
}

input, textarea {
    outline: none;
    box-shadow: none;
    transition: outline 0.3s ease-in-out 0ms, box-shadow 0.3s ease-in-out 0ms;
}

input:hover, textarea:hover, .button1:hover, .button2:hover {
    outline: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
}

input:focus, textarea:focus, .button1:active, .button2:active {
    outline: var(--neutral4);
    box-shadow: 0 0 10px var(--main-color4);
}

.button1 {
    border: none;
    font-weight: bold;
    background-color: var(--accent-color);
}
.button2 {
    border: solid 3px var(--accent-color);
    font-weight: normal;
    background-color: white;
}

.submit-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.5em 2.5em 1em;
}

#anecdote-submit, #activity-submit, .question{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#anecdote-submit hr, #activity-submit hr, .question hr{
    width: 40%;
}


/* Image Styles w/ Decor */
.portrait, .explore-background {
    position: relative;
    justify-content: center;
    display: flex;
    background-color: var(--neutral1);
    box-shadow: 0 4px 4px var(--shadow);
    margin: 0.25em;
    text-align: center;
}

.decor-image {
    position: absolute;
    bottom: 0;
    width: auto;
    z-index: 2;
}

.decor-text{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif sans-serif;
    text-align: center;
    font-size: 3.5em;
    font-weight: 900;
    line-height: normal;
    color: var(--neutral1);
    text-shadow: 0 4px 4px var(--shadow);
}

.decor-text::after {
    z-index: 3;
    position: absolute;
    inset: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--neutral1);
    text-shadow: none;
    filter: drop-shadow(0 0 6px var(--shadow));
}

/* Hero Image Styles */
.hero-image {
    position: relative;
    display: flex;
    box-shadow: 0 4px 10px var(--shadow);
}
.hero-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Grid Styles */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

/* Explore Backgrounds & Pseudoclasses */
.explore-background, #about-portrait, #quote {
    border-radius: 30px;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    transition: box-shadow 0.1s ease-in-out 0ms;
}

.explore-background:hover {
    box-shadow: 0 0 20px 2px var(--accent-color);
    transition: transform 0.05s ease-in-out 0ms;
}

.explore-background:active {
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px var(--main-color4);
}

/* Back Button */
.back-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 3%;
    z-index: 5;
}

.back-button > p, .back-button > img {
    color: var(--neutral3);
    height: 20px;
    font-size: 0.9em;
}

.back-button > p {
    padding-bottom: 2.1em;
    padding-left: 1em;
}
/* ====================================================================== */
/* Welcome Screen styles */
#index {
    background-color: var(--main-color4);
}

#Welcome-grid {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

#crescove-bg-video {
    position: fixed;
    z-index: -10;
    width: 100%;
    min-height: 100vh;
    right: 0;
    object-fit: cover;
    transform: scaleX(-1);
    right: 0;
    filter: brightness(40%);
}

#Welcome-logo {
    object-fit: cover;
    width: 366px;
    height: 150px;
}

.welcome {
    padding: 0 3em 12em;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
    gap: 2em;
    min-height: 50vh;
    padding: 5em;
    box-shadow: inset 0 -10px 30px 10px var(--shadow);
}

/* Welcome */
.welcome .subtext{
    color: var(--neutral1);
    max-width: 80%;
    text-align: center;
}

/* Portraits */
.decor-portraits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30vh;
    width: 100%;
}
.decor-portraits .portrait{
    box-shadow: none;    
}
.portrait {
    overflow: hidden;
    opacity: 0.9;
    margin: 0;
}

.decor-text.phrase1 {
    top: 15%;
}

.decor-text.phrase2 {
    color: var(--accent-color);
    font-size: 5.5em;
    top: 35%;
}

#true .decor-text.phrase1::after {
    content: "BE TRUE TO";
}

#true .decor-text.phrase2::after {
    -webkit-text-stroke-color: var(--accent-color);
    content: "YOURSELF";
}

#you .decor-text::after {
    content: "HOW'RE\aYOU?";
}

#loved .decor-text::after {
    content: "YOU'RE\aLOVED";
}

#true, #you, #loved {
    width: 100%;
    height: 100%;
}

#true {
    background-color: var(--main-color3);
}

#you {
    background-color: var(--main-color1);
}

#loved {
    background-color: var(--accent-color);
}

#true img, #you img, #loved img {
    top: -10%;
    width: 60%;
    object-fit: cover;
}
/* ====================================================================== */
/* Home Page styles */
/* Hero Image */
#home-header {
    position: absolute;
    top: 35%;
    left: 80px;
    font-weight: 800;
    line-height: 1em;
    font-size: 4em;
    text-shadow: 0 2px 4px var(--shadow);
}
.hero-image p {
    position: absolute;
    max-width: 532px;
    top: 65%;
    left: 80px; 
}

/* Main Tag */

#home > .background-image {
    position: absolute;
    top: 0;
    left: 7em;
    max-width: 517px;
    height: auto;
    z-index: -1;
    filter: blur(1px);
    opacity: 75%;
}

#intro-message {
    position: relative;
    top: 0;
    padding: 3em;
    background-color: white;
    width: 50%;
    z-index: -2;
}

#home #intro-message > h1, #home #intro-message > p {
    position: relative;
    height: auto;
    left: 75%;
    font-weight: normal;
}

/* Explore */
.more-to-explore {
    background-color: var(--bg-accent);
    position: relative;
    padding: 0 5em 5em;
}

.explore-header {
    padding-top: 1em;
    text-align: center;
}

.explore-option {
    position: relative;
    width: 100%;
}

.explore-background.home {
    height: 426.34px;
}

.explore-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 100%;
    width: 70%;
    border-radius: 30px;
}

/* Activity */
.explore-background#activity {
    margin-bottom: 2em;
}

#activity > .explore-content {
    background-color: var(--main-color1);
}

#activity > .explore-content > .explore-info {
    max-width: 60%;
    padding: 0.25em 0 2em;
    text-align: center;
}

#activity > img {
    position: absolute;
    height: 90%;
    right: 0;
    bottom: -0.6%;
    object-fit: cover;
    border-radius: 30px;
}

/* Topics */
.shortcut-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#topic-shortcut {
    grid-column: 1 / 3;
    background-color: var(--main-color3);
    display: flex;
}
 
#topic-shortcut > .decor-image {
    height: 100%;
    left: -10%;
}

#topic-shortcut > .decor-text {
    position: absolute;
    top: 10%;
    left: 10%;
}

#topic-shortcut > .decor-text::after {
    content: "TOPICS";
}

#topic-shortcut > .crescove-list {
    position: relative;
    height: min-content;
    width: calc-size(min-content, size + 2em);
    left: 10%;
    bottom: -10%;
    z-index: 5;
    background-color: var(--bg-accent2);
    padding: 1.5em;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

/* About Shortcut */
#about-shortcut {
    background-color: var(--accent-color);
}

#about-shortcut > img {
    position: absolute;
    width: auto;
    height: 100%;
    bottom: -10%;
    z-index: 2;
}

#about-shortcut > .decor-text {
    position: absolute;
    top: 10%;
    width: 100%;
}

#about-shortcut > .decor-text::after {
    content: "ABOUT";
}

/* ====================================================================== */
/* Activity styles */
/* Background Design */
#activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activity > a > .back-button {
    top: 3em;
}
#background-design {
    background-color: var(--bg-accent);
    position: absolute;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    z-index: -1;
}

#bg-design-image {
    opacity: 0.25;
}

#mood-activity {
    z-index: 1;
    height: auto;
    padding: 6em 20% 2em;
    width: 100%;
}

#mood-activity > fieldset {
    border: none;
    margin-top: 2em;
}

.question{
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
}

/* Activity 1 - Mood */
#mood {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 30px;
    padding: 0 3.5%;
    background: linear-gradient(90deg,
    #630000 5%,
    #FF5500 15%,
    #FBBC05 25%,
    #FBFF84 35%,
    #DDFF00 45%,
    #34A853 55%,
    #00FFE1 65%,
    #0053DD 75%,
    #FB00FF 85%,
    #484848 95%);
    box-shadow: 0 4px 4px var(--shadow);
}

#mood::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 100px;
    background-color: var(--neutral2);
    border-radius: 3px;
}

#mood-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    margin-top: 1em;
    padding: 0 1.25em;
}

#mood-range div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2em;
}
.emoji {
    width: 3.5em;
}

/* Activity 2 - Intensity */
#intensity-radio {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}

#intensity-radio div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid var(--neutral2);
    border-radius: 15px;
}

#intensity-radio div:first-of-type::after {
    content: "Lowest";
    bottom: -40%;
    position: absolute;
    font-family: 'Montserrat';
    font-style: italic;
}

#intensity-radio div:last-of-type::after {
    content: "Highest";
    bottom: -40%;
    position: absolute;
    font-family: 'Montserrat';
    font-style: italic;
}

input[type="radio"][id="1"]:checked {
    background-color: #FFFDD0;
}
input[type="radio"][id="2"]:checked {
    background-color: #FFFACD;
}
input[type="radio"][id="3"]:checked {
    background-color: #EEDC82;
}
input[type="radio"][id="4"]:checked {
    background-color: #FFEF00;
}
input[type="radio"][id="5"]:checked {
    background-color: #FFFF00;
}
input[type="radio"][id="6"]:checked {
    background-color: #FFDF00;
}
input[type="radio"][id="7"]:checked {
    background-color: #FFD700;
}
input[type="radio"][id="8"]:checked {
    background-color: #E1AD01;
}
input[type="radio"][id="9"]:checked {
    background-color: #9B870C;
}
input[type="radio"][id="10"]:checked {
    background-color: #808000;
}

/* Activity 3 - Experience */
#experience {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

/* ====================================================================== */
/* Activity Results styles */
#results {
    overflow-y: hidden;
}

/* Envelope decor */
.envelope, .envelope-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    bottom: -5%;
    margin: 0 27%;
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.envelope-background {
    background-color: var(--neutral1);
    border-right: 70px solid var(--neutral4);
    box-shadow: 0 0 50px 5px var(--shadow);
    opacity: 1;
    z-index: -2;
}

.envelope-sides, .envelope-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
}

.envelope-sides {
    border-left: 350px solid var(--main-color2);
    border-right: 350px solid var(--main-color3);
    border-top: 250px solid transparent;
    z-index: 1;
}

.envelope-shadow {
    z-index: 2;
    position: absolute;
    bottom: 0;
    margin: 0 10%;
    width: 80%;
    height: 87.55%;
    border-right: 350px solid var(--main-color2);
    border-top: 250px solid transparent;
}

.envelope-bottom {
    z-index: 2;
    border-left: 350px solid transparent;
    border-right: 350px solid transparent;
    border-top: 200px solid transparent;
    border-bottom: 200px solid var(--main-color3);
}

.envelope-decor {
    position: absolute;
    background-color: var(--neutral1);
    height: 30px;
    border-radius: 20px;
    z-index: 3;
}

.envelope-decor.line1 {
    bottom: 5%;
    width: 400px;
}

.envelope-decor.line2 {
    bottom: 17%;
    width: 200px;
}
/* Advice Card */
#advice {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 500px;
    height: 375px;
    background-color: var(--accent-color);
    left: 33.5%;
    border-radius: 30px;
    box-shadow: 0 4px 8.2px 6px var(--shadow);
    align-items: center;
    justify-content: end;
    animation: unveil 1.5s ease-in-out 0ms 1 normal forwards;
}

#advice-info {
    background-color: var(--bg-accent3);
    width: 90%;
    height: 65%;
    border-radius: 30px;
    margin-bottom: 25px;
}

.user-details {
    display: flex;
    width: 90%;
    height: 20%;
    padding: 0 1em;
}

#mood-color {
    background-color: var(--neutral1);
    border: 2px solid var(--neutral2);
    border-radius: 40px;
    width: 50px;
    height: 50px;
}

.mood-detail {
    display: flex;
    align-items: center;
    padding: 0 2em;
    height: 50px;
    width: 80%;
}
/* Result Info */
.result-info {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    max-width: 50%;
}

#advice-prompt {
    top: 10%;
}

#home-button {
    display: flex;
    justify-content: center;
    bottom: 12%;
    z-index: 10;
}

/* Envelope Animation */

@keyframes unveil {
    60% {
        bottom: 50%;
    }
    80% {
        z-index: 10;
        transform: scale(1.05);
    }

    100% {
        bottom: 25%;
        z-index: 10;
        transform: scale(1.1);
    }
}

/* ====================================================================== */
/* About Page styles */
#about > .wrapper {
    position: relative;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: top;
    justify-content: center;
    height: 580px;
}

#about #intro-message {
    position: relative;
    text-align: center;
    margin: 3em 0;
}

#about-portrait {
    position: relative;
    background-color: var(--main-color3);
    padding-top: 5em;
    max-width: 486px;
    height: 550px;
    margin: 5em;
    align-items: center;
    z-index: -2;
    box-shadow: 0 4px 4px var(--shadow);
}

#about-portrait > .decor-image {
    height: 100%;
}

#about-portrait .decor-text {
    bottom: 5%;
    width: 100%;
    font-size: 7.5em;
    line-height: 80%;
}

#about-portrait .decor-text::after {
    content: "ABOUT\AME";
}

#about > .more-to-explore {
    position: relative;
    z-index: -3;
    padding-top: 7em;
}

/* Blockquote */
#quote {
    float: right;
    display: flex;
    width: 345px;
    height: 358px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    padding: 1.25em;
    background-color: var(--main-color1);
    margin-left: 4em;
}

#site-mission {
    padding: 1em 3em 3em 2em;
}

@keyframes pulse {
    10% {
        transform: scale(1.0);
    }
    20% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(0.9);
    }
}
.decor-circle {
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 100%;
    filter: blur(20px);
    z-index: -1;
}

.c1about {
    bottom: 2%;
    left: 2%;
    width: 326px;
    height: 326px;
    opacity: 0.7;
    animation: 3s linear infinite pulse;
}

.c2about {
    bottom: 25%;
    right: 2%;
    width: 270px;
    height: 270px;
    opacity: 0.9;
    animation: 5s linear infinite pulse;
}

.c3about {
    bottom: 60%;
    left: 15%;
    width: 200px;
    height: 200px;
    opacity: 0.4;
    animation: 7s linear infinite pulse;
}

/* ====================================================================== */
/* Topics Page styles */
.hero-image.topic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.hero-image.topic .decor-text {
    color: var(--accent-color);
    font-size: 7em;
    top: 15%;
    left: 37%;
    right: 37%;
}

.hero-image.topic .decor-text::after {
    content: "TOPICS";
    -webkit-text-stroke-color: var(--accent-color);
}

.hero-image.topic .hero-info {
    position: absolute;
    color: var(--main-color2);
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    inset: 85% 34.5% 15%;
}

/* Topic - Emotional Health */
#emotional-health {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--main-color1);
    margin: 5em;
    width: auto;
}

#emotional-health > .explore-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 2em;
}

#emotional-health .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -25%;
    width: auto;
    height: 150%;
}

#emotional-health .image-container .topic-image {
    transform: scale(1);
}

#spec-topics-shortcuts > a > .explore-background {
    display: flex;
    height: 400px;
    justify-content: space-between;
}

#spec-topics-shortcuts > a > .explore-background > .explore-content {
    position: relative;
    top: 0;
    height: 100%;
    max-height: 300px;
    width: auto;
    overflow: hidden;
}

#spec-topics-shortcuts > a > .explore-background > .explore-info p{
    line-height: normal;
    color: var(--neutral3);
    padding: 1em;
}

/* Interaction with Topics */
.topic-image {
    width: 80%;
    height: auto;
    top: -8%;
    left: 10%;
    object-fit: cover;
    opacity: 0.7;
    transform: scale(0.95 );
    transition: opacity, transform 0.2s ease-in-out 0ms;
}

#spec-topics-shortcuts > a > .explore-background > .explore-content:hover > .topic-image, #emotional-health:hover > .image-container > .topic-image
{
    opacity: 1;
    transform: scale(1.05);
}

/* Alternating background color */
#spec-topics-shortcuts > a:nth-of-type(5n + 1) > .explore-background > .explore-content {
    background-color: var(--main-color3);
}

#spec-topics-shortcuts > a:nth-of-type(5n + 2) > .explore-background > .explore-content,
#spec-topics-shortcuts > a:nth-of-type(5n + 4) > .explore-background > .explore-content {
    background-color: var(--main-color2);
}

#spec-topics-shortcuts > a:nth-of-type(5n + 3) > .explore-background > .explore-content,
#spec-topics-shortcuts > a:nth-of-type(5n + 5) > .explore-background > .explore-content {
    background-color: var(--main-color1);
}

/* Decor text */
#spec-topics-shortcuts > a > .explore-background > .explore-content > .decor-text {
    bottom: 1%;
    font-size: 2.5em;
}

#spec-topics-shortcuts > a:nth-of-type(2n + 1) > .explore-background > .explore-content > .decor-text {
    color: var(--neutral1);
}

#spec-topics-shortcuts > a:nth-of-type(2n) > .explore-background > .explore-content > .decor-text {
    color: var(--accent-color);
}

#spec-topics-shortcuts > a:nth-of-type(2n + 1) > .explore-background > .explore-content > .decor-text::after {
    -webkit-text-stroke-color: var(--neutral1);
}

#spec-topics-shortcuts > a:nth-of-type(2n) > .explore-background > .explore-content > .decor-text::after {
    -webkit-text-stroke-color: var(--accent-color);
}


/* Specific Topics */
#anger > .explore-content > .decor-text::after {
    content: "ANGER";
}

#depression > .explore-content > .decor-text::after {
    content: "DEPRESSION";
}

#letgo > .explore-content > .decor-text::after {
    content: "LETTING GO";
}

#overthinking > .explore-content > .decor-text::after {
    content: "OVERTHINKING";
}

#pressure > .explore-content > .decor-text::after {
    content: "PRESSURE";
}

#stress > .explore-content > .decor-text::after {
    content: "STRESS";
}

/* ====================================================================== */
/* Contacts Page styles */

#contact {
    display: grid;
    grid-template-columns: 1.1fr 3fr;
}

/* Hotline Styles */
#hotlines {
    background-color: var(--main-color3);
}

.contact-background {
    position: relative;
    margin: 2em 0;
    left: 20%;
    border-radius: 30px;
    box-shadow: 0 4px 4px var(--shadow);
    padding: 7%;
    color: var(--neutral1);
}

.contact-header, .contact-subheader {
    color: var(--accent-color);
    margin-bottom: 0.5em;
}

/* Dev Contact Styles */
#developer-contacts {
    background-color: var(--main-color2);
}

.contact-info, .contact-icon {
    height: 3em;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;    
}

.contact-info {
    background-color: var(--neutral1);
}

.contact-icon {
    background-color: var(--main-color3);
    border-radius: 15px;
    width: 3em; 
}

.contact-icon img {
    height: 2em;
    width: 2em;
}

.contact-info a {
    color: var(--neutral3);
    text-align: center;
    width: 100%;
}

.contact-info a:visited, .contact-info a:active {
    color: var(--neutral3);
}

#developer-contacts .crescove-list ul li:not(:last-of-type) {
    margin-bottom: 1em;
}

/* Feedback Styles */
#feedback-background {
    background-color: var(--bg-accent);
    height: 100%;
    padding: 5em;
}

#feedback {
    float: right;
    width: 85%;
}

#feedback .title{
    text-align: left;
    padding-left: 0;
}

.field-input#message {
    height: 10em;
}

#send-feedback {
    margin: 1em auto;
}

/* ====================================================================== */
/* Topic Template Page styles */

#topic-template {
    display: grid;
    grid-template-columns: 1.1fr 3fr;
}

.topic-decor-image {
    position: absolute;
    left: 10%;
    opacity: 0.35;
    z-index: -10;
    max-width: 43%;
    filter: blur(3px);
}

/* Aside Styles */
#anecdote-preview, #topics-preview {
    background-color: var(--bg-accent);
    padding: 5em 2.5em 2em;
    height: 100%;
    z-index: -1;
}
/* Topic info styles */
#topic-info {
    padding: 5em 0;
}
#topic-info article, #topic-info #add-anecdote{
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#topic-details > h2, #topic-details > h3{
    margin: 0.5em 0 1em;
}

/* Buttons linking to create anecdote and view anecdotes */
#anecdote-links {
    display: grid;
    width: max-content;
    grid-template-columns: repeat(2, 1fr);
}

#view-anecdote, #create-anecdote {
    color: var(--neutral3);
    font-size: 1em;
    font-weight: bold;
}

/* TOpic tips */
.topic-tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
}
.tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--neutral3);
}
.tips > p {
    text-align: center;
    width: 90%;
}
.tip-background {
    display: flex;
    background-color: var(--accent-color);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 4px 4px var(--shadow);
    margin-bottom: 1em;
}
.tip-background > img {
    max-width: 80%;
}

/* Add Anecdote */
#add-anecdote {
    margin-top: 2em;
}

/* ====================================================================== */
/* Emotional Health Page styles */
#topics-preview {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#topics-preview{
    position: relative;
    display: flex;
    height: 100%;
    z-index: 3;
}

.preview-background {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 3.5em;
    z-index: 4;
    background: linear-gradient(90deg,
        var(--main-color2) 10%,
        transparent
    );
    overflow: hidden;
    border-radius: 30px;
    transform: scale(1);
    transition: transform, background-color, box-shadow 0.5s ease-in-out 0ms;
}

.preview-background:hover {
    background-color: var(--bg-accent2);
    transform: scale(1.1);
    transition: background-color 0.3s ease-in-out 0ms;
    box-shadow: 0 0 10px var(--accent-color);
}

.preview-background:active {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.preview-background > .explore-content > .decor-text{
    font-size: 150%;
    left: 35%;
    font-weight: 500;
}

.preview-image {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: -30%;
    filter: blur(1px);
    opacity: 0.7;
}

/* ====================================================================== */
/* Anecdotes Page styles */

#anecdotes {
    background-color: var(--bg-accent);
}