:root {
    --accent-color: #FAFF94;
    --main-color1: #60E6F6;
    --main-color2: #638FB9;
    --main-color3: #76AFEE;
    --main-color4: #081A46;
    --neutral1: #FFF;
    --neutral2: #000;
    --neutral3: #4F4F4F;
    --neutral4: #9E9E9E;
}

/* Header Styles */
header {
    height: 80px;
    width: auto;
    background-color: var(--main-color4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a img {
    height: 65.84px;
    width: 117.1px
}
#nav-bar li{
    display: inline;
    padding: 0 2em;
}