h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.script {
    font-family: 'Pacifico', serif;
}

a, p, li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 200%;
}
